<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto px-0">
      <h4 class="py-4 mb-0">
        <span class="ml-3 font-weight-bold">
          <%= @tag.hashname %>投稿一覧
        </span>
      </h4>

      <% @posts.each do |post| %>
        <%= render 'index', post: post %>

        <div class="row mx-2 mt-3" id="post-comments-count_<%= post.id %>">
          <%= render 'public/post_comments/count', post: post %>
        </div>

        <%= render 'public/post_comments/form', post: post, post_comment: @post_comment %>
      <% end %>

    </div>
  </div>
</div>