<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h4 class="py-4 mb-0">
        <span class="ml-3 font-weight-bold">
          新規投稿
        </span>
      </h4>
      <% @posts.each do |post| %>
        <div class="card rounded">
          <%= image_tag post.get_image, class: "card-img-top" %>
        <div class="card-body border-top">
          <div class="card-text">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag post.user.get_image(*25), class: "rounded-circle mr-1" %><%= post.user.name %>
              </div>
              <div class="col-md-6">
                <%= post.caption %>
              </div>
              <div class="col-md-3 text-right">
                <% if post.user == current_user %>
                  <%= link_to post_path(post.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "text-dark" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
