<div class="container">
  <%= search_form_for @q, url: user_search_users_path do |f| %>
  <div class="row">
    <div class="col-md-4 pr-0">
      <%= f.search_field :name_cont, placeholder: "ユーザー名", class: "form-control" %>
    </div>
    <div class="col-md-1 px-1">
      <button type="submit" class="btn btn-light rounded-circle">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class="col-md-6 px-0">
      <div class="btn-group btn-group-justify d-flex" role="group">
        <%= link_to user_search_users_path, class: "btn btn-outline-primary active" do %>
          ユーザー検索
        <% end %>
        <%= link_to hashtag_search_path, class: "btn btn-outline-primary" do %>
          #投稿検索
        <% end %>
        <%= link_to training_search_trainings_path, class: "btn btn-outline-primary" do %>
          トレーニング検索
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="container mx-4 mt-4">
  <% @user_results.each do |user_result| %>
  <div class="row mb-2">
      <div class="col-md-10 mx-auto px-0">
        <%= link_to user_path(user_result.id), class: "text-dark", style: "text-decoration: none;" do %>
          <%= image_tag user_result.get_profile_image(25, 25), class: "rounded-circle" %>
          <%= user_result.name %>
        <% end %>
      </div>
      <div class="col-md-2 mx-auto px-0">
        <% if current_user.following?(user_result) %>
          <%= link_to "フォロー解除",  user_relationships_path(user_result), method: :delete, class: "btn btn-outline-dark btn-block btn-sm" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(user_result), method: :post, class: "btn btn-primary btn-block btn-sm" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>