<div class="form-body p-4">
  <%= form_with model: training, local:true do |f| %>
    <div class="start-time-field">
      <%= f.label :start_time, "開始時間" %>
      <%= f.datetime_select :start_time, autofocus: true, class: "form-control" %>
    </div>
    <div class="training-field mt-3">
      <%= f.label :name, "トレーニング名(30文字以内)" %>
      <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
    </div>
    <div class="set-field mt-3">
      <%= f.label :set, "セット数" %>
      <%= f.number_field :set, min: 1, max: 100, class: "form-control" %>
    </div>
    <div class="weight-and-rep-fields container-flex mt-3">
      <div class="weight-field">
        <%= f.label :weight, "重量[kg](数字のみ入力)" %>
        <%= f.text_field :weight, class: "form-control" %>
      </div>
      <div class="rep-field">
        <%= f.label :repetition, "回数" %>
        <%= f.number_field :repetition, min: 1, max: 500, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "保存する", class: "btn btn-block btn-primary mt-4" %>
    </div>
  <% end %>
</div>