<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto shadow-lg rounded px-0 my-5">
      <h4 class="bg-light py-4 mb-0">
        <span class="ml-3 font-weight-bold">
          トレーニング記録
        </span>
      </h4>
      <div class="form-body p-4">
      <%= form_with model: @training, local:true, html: { id: 'myForm' }  do |f| %>
        <div class="training-field">
          <%= f.label :name, "トレーニング名" %> <br>
          <%= f.text_field :name, autocomplete: "name", autofocus: true, class: "form-control" %>
        </div>
        <div class="set-field mt-3">
          <%= f.label :set, "セット数" %> <br>
          <%= f.number_field :set, min: 1, max: 10, class: "form-control" %>
        </div>
        <div class="weight-and-rep-fields container-flex mt-3">
          <div class="weight-field mt-3">
            <%= f.label :weight, "重量[kg]" %> <br>
            <%= f.text_field :weight, class: "form-control" %>
          </div>
          <div class="rep-field mt-3">
            <%= f.label :reptition, "回数" %> <br>
            <%= f.number_field :reptition, min: 1, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "保存する", class: "btn btn-block btn-primary mt-4" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

