<div class="container">
  <%= search_form_for @q, url: training_search_trainings_path do |f| %>
  <div class="row">
    <div class="col-md-4 pr-0">
      <%= f.search_field :name_cont, placeholder: "トレーニング名", class: "form-control" %>
      <div class="form-group mt-2 mb-0">
        <%= f.label :start_time, "期間指定" %>
        <div class="d-flex">
          <%= f.date_field :start_time_gteq, class: "form-control" %>
          <span>&nbsp;~&nbsp;</span>
          <%= f.date_field :start_time_lteq, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-1 px-1">
      <button type="submit" class="btn btn-light rounded-circle">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <%= render 'public/shared/search' %>

  </div>
  <% end %>

</div>

<div class="container mx-4 mt-4">
  <% @training_results.each do |training_result| %>
  <div class="row mb-2">
    <%= training_result.name %>
  </div>
  <% end %>
</div>