<% posts.order(created_at: :desc).each do |post| %>
  <div class="card rounded mb-1">
    <div class="card-body border-bottom">
      <div class="card-text">
        <div class="row">
          <div class="col-md-12">
            <%= link_to admin_user_path(post.user.id), class: "text-dark", style: "text-decoration: none;" do %>
              <%= image_tag post.user.get_profile_image(25, 25), class: "rounded-circle mr-1" %>
              <%= post.user.name %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= image_tag post.get_post_image, class: "card-img-top" %>
    <div class="card-body border-top">
      <div class="card-text">
        <div class="row">
          <div class="col-md-12">
            <%= post.caption %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- コメント一覧 -->
  <% post.post_comments.each do |post_comment| %>
  <div class="col-md-9 mt-3">
    <%= link_to admin_user_path(post_comment.user.id), class: "text-dark", style: "text-decoration: none;" do %>
      <%= image_tag post_comment.user.get_profile_image(25, 25), class: "rounded-circle mr-1" %>
      <%= post_comment.user.name %>
    <% end %>
    &nbsp;&nbsp;<%= post_comment.comment %>
  </div>
  <div class="col-md-3 text-right mt-3">
    <% if post_comment.user == current_user %>
      <%= link_to post_post_comment_path(post_comment.post.id,post_comment.id), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "text-dark" do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
  <% end %>

<% end %>