<div class="container">
  <h1 class="my-5 font-weight-bold">
    強制退会確認
  </h1>
  <div class="row">
    <div class="col-md-9 mx-auto px-0">
      <h4 class="pb-4 mb-0">
        <span class="ml-3 font-weight-bold">
          会員情報確認
        </span>
      </h4>

      <div class="row">
        <div class="col-md-7 px-0">

          <div class="row mb-3">
            <div class="col-md-4">
              会員ID
            </div>
            <div class="col-md-8">
              <%= @user.id %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              メールアドレス
            </div>
            <div class="col-md-8">
              <%= @user.email %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              ユーザー名
            </div>
            <div class="col-md-8">
              <%= @user.name %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              会員ステータス
            </div>
            <div class="col-md-8">
              <span class="<%= "status-#{@user.status}" %>">
	  	  		    <%= t("enums.user.status.#{@user.status}") %>
	  	  	    </span>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-8 d-flex">
              <%= link_to "強制退会させる", user_withdraw_admin_user_path, method: :patch, class: "btn btn-danger mt-3", data: { confirm: "本当に退会させますか？" } %>
              <div class="mt-auto ml-4">
                <%= link_to "退会キャンセル", admin_root_path %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <%= image_tag @user.get_profile_image(*250) %>
        </div>
      </div>

    </div>
  </div>
</div>


