<header>
  <nav class="navbar">
    <a class="navbar-brand mx-auto mt-3 mb-5 text-dark" href="<%= user_signed_in? ? posts_path : root_path %>">
      buildnote
    </a>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item mt-2 ml-0 px-2">
          <%= link_to user_search_users_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-search fa-lg"></i>
            <span class="ml-2">
              検索
            </span>
          <% end %>
        </li>
        <li class="nav-item mt-4 ml-0 px-2">
          <%= link_to trainings_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-calendar-alt fa-lg"></i>
            <span class="ml-2">
              カレンダー
            </span>
          <% end %>
        </li>
        <li class="nav-item mt-4 ml-0 px-2">
          <%= link_to training_graph_trainings_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-chart-line fa-lg"></i>
            <span class="ml-2">
              グラフ
            </span>
          <% end %>
        </li>
        <li class="nav-item mt-4 ml-0 px-2">
          <%= link_to user_post_likes_user_path(current_user), class: 'nav-link text-dark' do %>
            <i class="fas fa-heart fa-lg"></i>
            <span class="ml-2">
              いいね一覧
            </span>
          <% end %>
        </li>
        <li class="nav-item mt-4 ml-0 px-2">
          <%= link_to user_path(current_user), class: 'nav-link text-dark' do %>
            <%= image_tag current_user.get_profile_image(*25), class: "rounded-circle" %>
            <span class="ml-2">
              プロフィール
            </span>
          <% end %>
        </li>
        <li class="nav-item mt-4 ml-0 px-2">
          <%= link_to new_post_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-camera-retro fa-lg"></i>
            <span class="ml-2">
              投稿
            </span>
          <% end %>
        </li>
        <li class="nav-item mt-4 ml-0 px-2">
          <%= link_to new_training_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-plus-circle fa-lg"></i>
            <span class="ml-2">
              トレーニング記録
            </span>
          <% end %>
        </li>
        <li class="nav-item ml-0 px-2">
          <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？'}, class: 'nav-link text-dark' do %>
            <i class="fas fa-sign-out-alt fa-lg"></i>
            <span class="ml-2">
              ログアウト
            </span>
          <% end %>
        </li>
      <% elsif admin_signed_in? %>
        <li class="nav-item mt-2 ml-0">
          <%= link_to '会員一覧', admin_root_path, class: 'nav-link text-dark text-center' %>
        </li>
        <li class="nav-item mt-5 ml-0">
          <%= link_to '投稿一覧', admin_posts_path, class: 'nav-link text-dark text-center' %>
        </li>
        <li class="nav-item ml-0 px-2">
          <%= link_to destroy_admin_session_path, method: :delete, data: { confirm: 'ログアウトしますか？'}, class: 'nav-link text-dark' do %>
            <i class="fas fa-sign-out-alt fa-lg"></i>
            <span class="ml-2">
              ログアウト
            </span>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item mt-2 ml-0 px-2">
          <%= link_to create_guest_users_path, method: :post, data: { confirm: 'ゲストユーザーとしてログインします。'}, class: 'nav-link text-dark' do %>
            <i class="fas fa-user-alt fa-lg"></i>
            <span class="ml-2">
              ゲストログイン
            </span>
          <% end %>
        </li>
        <li class="nav-item mt-5 ml-0 px-2">
          <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-sign-in-alt fa-lg"></i>
            <span class="ml-2">
              ログイン
            </span>
          <% end %>
        </li>
        <li class="nav-item my-5 ml-0 px-2">
          <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-user-plus fa-lg"></i>
            <span class="ml-2">
              新規登録
            </span>
          <% end %>
        </li>
        <li class="nav-item ml-0 px-2">
          <%= link_to "https://github.com/yusukeee811/buildnote", target: "_blank", class: 'nav-link text-dark d-flex align-items-center' do %>
            <i class="fab fa-github-square fa-2x"></i>
            <span class="ml-2">
              GitHub
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>